<div id='rejillaAmbientes' class="row">
	<div class="col-md-4 col-md-offset-1">
		<img id='amb01' class="img-responsive" src="/ambientes/amb01.jpg" alt="Salon" ng-click=setAmb('amb01') />
		<p>Dormitorio</p>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<img id='amb02' class="img-responsive" src="/ambientes/amb02.jpg" alt="Dormitorio" ng-click=setAmb('amb02') />
		<p>Salón</p>
	</div>
</div>
